<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="org.avaje.ebean.SQL" level="INFO"/>
    <logger name="org.avaje.ebean.TXN" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
